
<div class="container">

  <div class="row">
    <div class="col col-lg-2">

    </div>
    <div class="col">
    <div class="card dark text-center" style="width: 18rem;">
    
    <div class="card-body">
      <h5 class="card-title">Driver Login</h5>
      <p class="card-text">Select Your Driver Number</p>
      <p *ngIf="drivers[0].id === -1" class="card-text">Cannot connect to database, select -1 to use demo account</p>
      <form novalidate
      (ngSubmit)="save(signupForm)"
      #signupForm="ngForm">
      <select class="form-select" aria-label="Default select example" [(ngModel)]=driver.number name="driverNumber">
        <option *ngFor="let driver of drivers" value="{{driver.id}}">{{driver.id}}</option>
      </select>
      <br>
      <button class="btn btn-primary mr-3"
      type="submit"
      style="width:80px"
      [title]="signupForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
      [disabled]="!signupForm.valid">Login</button>
      </form>


    </div>
  </div>
</div>
<div class="col col-lg-2">

</div>
</div>
</div>
<!-- <router-outlet></router-outlet> -->

