.fixed {

    position: fixed;
    z-index: 100;
    right: 0;
    
}

.dark {
    background-color: #00000000;
    border: none;
    outline: none;
    color: #ffffff;
}

.example-spacer {
    flex: 1 1 auto;
  }