.fixed {

    position: fixed;
    z-index: 100;
    bottom: 0px;
    
}

.dark {
    background-color: #000000;
}

.transparent {
    background-color: #00000000;
    border: none;
    outline: none;
    color: #ffffff;
}

.example-spacer {
    flex: 1 1 auto;
  }