

<div class="card add-border add-margin">     
    <div class="card-header dark ready">
        {{data.clientInfo.name}}
    </div>            
    <div class="card-body remove-padding dark">               
        <p>{{data.clientInfo.address}}<br>{{data.clientInfo.city}}, {{data.clientInfo.state}} {{data.clientInfo.zip}}</p>
        <p>{{data.clientInfo.arrivalWindowStart | date: 'shortTime'}} - {{data.clientInfo.arrivalWindowEnd | date: 'shortTime'}}<br>{{data.clientInfo.status}}</p>
        {{data.level}}
        <p>{{data.id}}</p>
    </div>                
</div>
