
<nav>
  <ul>
    <li><a routerLink="/stops" routerLinkActive="active" ariaCurrentWhenActive="page">Stop List</a></li>
    <li><a routerLink="/details" routerLinkActive="active" ariaCurrentWhenActive="page">Details</a></li>
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>

<div style="text-align:center">
  <h1>
    Welcome!
  </h1>
  <button (click)="getData()">Fetch Data</button>
  {{this.parsedData}}
  <!-- <p>{{this.data[0]?.sender.arrivalWindowStart | date : "medium"}}</p>
  <p>{{this.data[0]?.sender.arrivalWindowEnd | date : "medium"}}</p> -->
 </div>