

<div class="card add-border add-margin">               
    <div class="card-body remove-padding dark">               
        <p>{{tag.sender.name}}</p>
        <p>{{tag.sender.address}}<br>{{tag.sender.city}}, {{tag.sender.state}} {{tag.sender.zip}}</p>
        <p>{{tag.sender.arrivalWindowStart | date: 'shortTime'}} - {{tag.sender.arrivalWindowEnd | date: 'shortTime'}}<br>
        {{tag.sender.status}}</p>
        ----
        <p>{{tag.recipient.name}}</p>
        <p>{{tag.recipient.address}}<br>{{tag.recipient.city}}, {{tag.recipient.state}} {{tag.recipient.zip}}</p>
        <p>{{tag.recipient.arrivalWindowStart | date: 'shortTime'}} - {{tag.recipient.arrivalWindowEnd | date: 'shortTime'}}<br>
        {{tag.recipient.status}}</p>
        ----
        <p>{{tag.level}}</p>
        <p>{{tag.id}}</p>
        <p>{{tag.assignedTo}}</p>
        <form novalidate
            (ngSubmit)="save(signupForm)"
            #signupForm="ngForm">
  
            <div class="form-group row mb-2">
            <label class="col-md-2 col-form-label"
            for="firstNameId">Assigned to driver</label>
            <div class="col-md-8">
                <input class="form-control"
                id="firstNameId"
                type="text"
                placeholder="Driver Number"
                required
                minlength="0"
                [(ngModel)]=assignedTo.driver
                name="driver"
                #firstNameVar="ngModel"
                [ngClass]="{'is-invalid': (firstNameVar.touched || firstNameVar.dirty) && !firstNameVar.valid }" />
                <!-- <span class="invalid-feedback">
                    <span *ngIf="firstNameVar.errors?.['required']">
                        Please enter your first name.
                    </span>
                    <span *ngIf="firstNameVar.errors?.['minlength']">
                            The first name must be longer than 3 characters.
                    </span>
                </span> -->
            </div>
            </div>
            <div class="form-group row mb-2">
                <div class="offset-md-2 col-md-4">
                  <button class="btn btn-primary mr-3"
                          type="submit"
                          style="width:80px"
                          [title]="signupForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
                          [disabled]="!signupForm.valid">
                    Save
                  </button>
                </div>
              </div>
            </form>
             
</div>
