<div class="card text-center full-height dark">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <h5 class="card-title">Recipient Name</h5>
 
      <input class="form-control"
                id="firstNameId"
                type="text"
                placeholder="Enter Recipient Name"
    
                
                name="driver"
                />
      <button class="btn btn-primary" type="button" (click)="close()">Deliver</button>
    </div>
    <div class="card-footer text-muted">
      2 days ago
    </div>
  </div>