<div class="row">
    <div class="col">
        <a routerLink="/details/{{index}}" routerLinkActive="active" ariaCurrentWhenActive="page" class="remove-link-style">
            <div class="card add-margin add-border">    
                <div class="card-header dark ready">
                    {{stop.clientInfo.name}}
                </div>           
                <div class="card-body remove-padding dark">   
                    <p>{{stop.clientInfo.address}}<br>{{stop.clientInfo.city}}, {{stop.clientInfo.state}} {{stop.clientInfo.zip}}</p>
                    <p>{{stop.clientInfo.arrivalWindowStart | date: 'shortTime'}} - {{stop.clientInfo.arrivalWindowEnd | date: 'shortTime'}}<br>
                    </p>
                    {{stop.level}}
                </div>                
            </div>
        </a>
    </div>
</div>


