.remove-padding{
    /* margin:0 !important; */
    padding: 5px !important;
}
.add-margin {
    margin: 5px !important;

}

.add-border {
    border: 1px solid #555555;
    overflow: hidden !important;
}

.remove-link-style {
    text-decoration: none;
}

.not-ready {
    background-color: #000000;
}

.early {
    background-color: #0099ff
}

.almost-ready {
    background-color: #d627cd
}

.ready {
    background-color: #00a534
}

.almost-late {
    background-color: #969901
}

.late {
    background-color: #d10000
}

.complete {
    background-color: #656565
}
.picked-up {
    background-color: #656565
}