.remove-padding{
    /* margin:0 !important; */
    padding: 5px !important;
}
.remove-radius{
    border-radius: 0;
}
.add-margin {
    margin: 20px 5px 5px 5px !important;

}

.add-border {
    border: 1px solid #555555;
    overflow: hidden !important;
    
}

.sender {
    border-radius: 8px 8px 0px 0px;
    margin-bottom: -20px !important;
}

.recipient {
    border-radius: 0px 0px 8px 8px;
    border-top: 0;
}

.smaller-text {
    font-size: .9em;
}

.remove-link-style {
    text-decoration: none;
}

.card-header.not-ready {
    background-color: #000000;
}

.card-header.early {
    background-color: #0099ff;
}

.card-header.almost-ready {
    background-color: #d627cd;
}

.card-header.ready {
    background-color: #00a534;
}

.card-header.almost-late {
    background-color: #969901;
}

.card-header.late {
    background-color: #d10000;
}
.card-header.picked-up, .card-header.complete  {
    background-color: #656565;
    color: #999999;
}

.card-body.picked-up, .card-body.complete {
    background-color: #3c3c3c;
    color: #858585;
}
